* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Sprit';
    src: url('./font/Sprit.otf');
}

@font-face {
    font-family: 'Eagle';
    src: url('./font/Eagle.ttf');
}

@font-face {
    font-family: 'Rockybilly';
    src: url('./font/Rockybilly.ttf');
}

@font-face {
    font-family: 'Komigo';
    src: url('./font/Komigo.ttf');
}

@font-face {
    font-family: 'Jember';
    src: url('./font/Jember.ttf');
}

@font-face {
    font-family: 'Biz';
    src: url('./font/Bizantheum.otf');
}

@font-face {
    font-family: 'Luck';
    src: url('./font/LuckiestGuy.ttf');
}

body {
    font-family: 'Poppins';
    background: #ff6f00e1;
}

nav {
    height: 12vh;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    width: 1535px;
    position: fixed;
    background: blur(1px);
    top: 0;
    overflow: hidden;
    /* justify-content: space-between; */
}

.nav-title {
    height: 100%;
    width: 400px;
    /* border: 1px solid white; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    background: #ffffff;
    /* background: #a91717; */
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
}

.nav-title p {
    /* background: linear-gradient(4deg, #faf20d 0%, #a91717 100%); */
    font-family: 'Eagle';
    font-size: 40px;
    margin-left: 40px;
    font-weight: 900;
    /* background-clip: text; */
    color: #ff6f00e1;
    /* width: fit-content; */
}

.nav-links::after {
    position: absolute;
    content: '';
    bottom: 0;
    height: 5px;
    width: 365px;
    background-color: white;
}

.nav-links {
    /* border: 1px solid white; */
    height: 100%;
    border-radius: 30px;
    position: relative;
    /* background: #ffffff; */
    overflow: hidden;
    width: 735px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.nav-links a,
.nav-button a {
    text-decoration: none;
    /* color: #0084ffe1; */
    color: white;
    /* font-size:15px; */
}

.nav-button {
    /* border: 1px solid white; */
    width: 400px;
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    background: #ffffff;
    /* background: #a91717; */
    clip-path: polygon(40% 0, 100% 0%, 100% 100%, 0 100%);
}

.nav-button a:first-child {
    color: #ff6f00e1;
    border: 1px solid #ff6f00e1;
    border-radius: 20px;
    /* background: white; */
    padding: 10px 20px;
}

.nav-button a:last-child {
    border-radius: 20px;
    margin-right: 40px;
    /* border: 1px solid white; */
    /* background: white; */
    padding: 10px 15px;
    color: white;
    background-color: #ff6f00e1;
    /* border: 1px solid #ff6f00e1; */
}

/* .nav-title:hover ~ .nav-links{
    background-color: white;
    width: 935px;
} */

.content {
    height: 88vh;
    /* border: 1px solid white; */
    margin-top: 12vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    position: sticky;
    top: 12vh;
    overflow: hidden;
}

.personaldata {
    color: #ffffff;
    font-size: 172px;
    font-family: 'Jember';
    /* border: 1px solid white; */
    height: 25vh;
    display: flex;
    /* padding-left: 40px; */
    align-items: center;
    justify-content: center;
    position: relative;
}

.personaldata::after {
    content: '';
    background-color: #ffffff;
    height: 5px;
    width: 735px;
    position: absolute;
    bottom: 0;
}

.songhead {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20vh;
    /* border: 1px solid black; */
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: relative;
}

.songhead li:first-child {
    background-color: #ffffff;
    width: 735px;
    font-family: 'Biz';
    color: #ff6f00e1;
    font-weight: 900;
    font-size: 40px;
    display: flex;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
}

.songhead li:last-child {
    /* background-color: #000000e1; */
    /* padding: 2px; */
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Komigo';
    /* border: 1px solid #ffffff; */
    /* position: absolute; */
    bottom: -17px;
    /* right: 25%; */
}

.musicplayer {
    /* border: 1px solid white; */
    height: 10vh;
    width: 100%;
    position: absolute;
    bottom: 50px;
    display: flex;
    align-items: self-start;
    justify-content: center;
    gap: 83px;
    /* background-color: #ffffff; */
    z-index: 2;
}

.musiccontroler {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    /* gap: 25px; */
    background-color: #ffffff;
    z-index: 2;
}

.lyrics-section {
    height: 28vh;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    width: 100%;
}


.lyrics-section p {
    color: #ffffff;
    margin-top: 10px;
    font-family: 'Luck';
    font-size: 30px;
    opacity: 0.25;
    transition: opacity 0.35s ease, transform 0.35s ease;
}

.lyrics-section p.active {
    opacity: 1;
    transform: scale(1.02);
}

.lyrics-section p.prev,
.lyrics-section p.next {
    opacity: 0.6;
}

.musiccontroler i {
    color: #2cb36fe1;
    font-size: 30px;
    height: 100%;
    /* border: 1px solid black; */
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #0084ffe1; */
    cursor: pointer;
}

.timestart {
    background-color: #ffffff;
    color: #2cb36fe1;
    font-family: 'Poppins';
    height: 80%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
}

.timeend {
    background-color: #ffffff;
    /* color: #0084ffe1; */
    color: #2cb36fe1;
    font-family: 'Poppins';
    height: 80%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
}

#animate {
    animation: flow1 12s ease-in-out infinite alternate;
    position: absolute;
    left: 100px;
    top: 150px;
    color: #ffffff;
    font-size: 150px;
    will-change: transform;
}

#animate:nth-child(2) {
    animation: flow2 16s ease-in-out infinite alternate;
    position: absolute;
    left: 100px;
    top: 350px;
    color: #ffffff;
    font-size: 150px;
    will-change: transform;
}

#animate:nth-child(3) {
    animation: flow3 16s ease-in-out infinite alternate;
    position: absolute;
    /* right: 100px; */
    top: 350px;
    color: #ffffff;
    font-size: 150px;
    will-change: transform;
}

#animate:nth-child(4) {
    animation: flow4 16s ease-in-out infinite alternate;
    position: absolute;
    /* right: 50px; */
    top: 100px;
    color: #ffffff;
    font-size: 150px;
    will-change: transform;
}

@keyframes flow1 {
    0% {
        transform: translate(0, 0);
    }

    20% {
        transform: translate(-50px, 0);
    }

    40% {
        transform: translate(-80px, -40px);
    }

    60% {
        transform: translate(-40px, -80px);
    }

    80% {
        transform: translate(20px, -40px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes flow2 {
    0% {
        transform: translate(0, 50px);
    }

    25% {
        transform: translate(60px, 60px);
    }

    50% {
        transform: translate(60px, 120px);
    }

    75% {
        transform: translate(20px, 170px);
    }

    100% {
        transform: translate(0, 50px);
    }
}

@keyframes flow3 {
    0% {
        transform: translate(1000px, 100px);
    }

    25% {
        transform: translate(1060px, 150px);
    }

    50% {
        transform: translate(1200px, 100px);
    }

    75% {
        transform: translate(1060px, 130px);
    }

    100% {
        transform: translate(1000px, 100px);
    }
}

@keyframes flow4 {
    0% {
        transform: translate(1100px, 0px);
    }

    20% {
        transform: translate(1040px, 60px);
    }

    40% {
        transform: translate(1100px, 120px);
    }

    60% {
        transform: translate(1040px, 60px);
    }

    80% {
        transform: translate(1020px, 10px);
    }

    100% {
        transform: translate(1100px, 0px);
    }
}


/* .Y3{
    height: 200px;
    position: absolute;
    top: 0px;
    right: 370px;
    z-index: 1;
}

.Y2{
    height: 200px;
    position: absolute;
    top: 10px;
    left: 370px;
    z-index: 1;
}
*/
/* .Y1{
    height: 200px;
    position: absolute;
    bottom: 40px;
    right: 43.5%;
    z-index: 1;
} */

.Y3 {
    height: 350px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    z-index: 1;
}


.Y2 {
    height: 400px;
    position: absolute;
    top: 50px;
    z-index: 1;

}

.Y1 {
    height: 300px;
    position: absolute;
    bottom: 69px;
    right: 40.2%;
    z-index: 10;
}

.playlistcontainer {
    height: 670px;
    position: sticky;
    top: 0px;
    /* left: 370px; */
    z-index: 20;
    background-color: #ffffff;
    position: relative;
    width: 100%;
}

.scroll {
    position: absolute;
    top: -40px;
    left: 10px;
    z-index: 2;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.scroll li {
    /* padding: 10px; */
    /* width: 5%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 20px;
    border-radius: 100px;
    list-style: none;
    background-color: #ffffff;
    color: #ff6f00e1;
    /* color: #2cb36fe1; */
}

.songdata {
    color: #ff6f00e1;
    font-size: 172px;
    font-family: 'Jember';
    /* border: 1px solid white; */
    height: 25vh;
    display: flex;
    /* padding-left: 40px; */
    align-items: center;
    justify-content: center;
    position: relative;
}

.songdata::after {
    content: '';
    background-color: #ff6f00e1;
    height: 5px;
    width: 735px;
    position: absolute;
    bottom: 0;
}

.playlistcontainer form {
    height: 60vh;
    width: 100%;
    gap: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
    position: relative;
}

.playlistcontainer form p {
    position: absolute;
    left: 0;
    background: #ff6f00e1;
    color: #ffffff;
    font-weight: 700;
}

.playlistcontainer form input[type=text] {
    border: 3px solid #ff6f00e1;
    /* padding: 30px; */
    height: 70px;
    width: 40%;
    color: #ff6f00e1;
    padding-left: 60px;
    outline: none;
    font-family: 'Poppins';
    font-size: 20px;
}

.playlistcontainer form p:nth-child(1) {
    top: 80px;
    left: 27.5%;
    padding: 10px 20px;
}

.playlistcontainer form p:nth-child(2) {
    top: 210px;
    padding: 10px 20px;
    left: 27.05%;
}

.playlistcontainer form p:nth-child(3) {
    top: 340px;
    padding: 10px 20px;
    left: 28%;
}

form input[type=submit] {
    border: 3px solid #ff6f00e1;
    height: 50px;
    width: 40%;
    /* padding: 0 20px; */
    position: absolute;
    transition: 0.3s;
    color: #ffffff;
    background-color: #ff6f00e1;
    /* padding-left: 60px; */
    outline: none;
    font-family: 'Poppins';
    right: 30%;
    bottom: 10px;
    font-size: 17px;
}

form input[type=submit]:hover {
    background-color: #ffffff;
    color: #ff6f00e1;
    transition: 0.3s;
}

::selection {
    background-color: #ff6f00e1;
    color: #ffffff;
}

@media screen and (max-width: 400px) {
    .personaldata {
        font-size: 100px;
    }

    .personaldata::after {
        width: 300px;
        bottom: 20px;
    }

    .songhead {
        height: 15vh;
    }

    .songhead li:first-child {
        font-size: 40px;
        width: 300px;
        padding: 7px 0;
    }

    .songhead li:last-child {
        font-size: 25px;
    }

    .musicplayer {
        width: 300px;
        left: 8%;
        gap: 10px;
    }

    .musiccontroller {
        width: 100px;
    }

    .timestart {
        width: 90px;
    }

    .timeend {
        width: 90px;
    }

    .Y1 {
        height: 250px;
        right: 17%;
    }

    #animate {
        display: none;
    }

    .songdata {
        font-size: 85px;
    }

    .songdata::after {
        width: 325px;
    }

    .playlistcontainer {
        height: 592px;
    }

    .playlistcontainer form {
        height: 50vh;
        gap: 20px;
    }

    .playlistcontainer form input[type=text] {
        width: 90%;
    }

    .playlistcontainer form:nth-child(2) {
        width: 90%;
        padding-left: 0px;
    }

    form input[type=submit] {
        width: 90%;
        right: 5%;
        bottom: -20px;
    }

    .playlistcontainer img {
        display: none;
    }

    .playlistcontainer form p:nth-child(1) {
        top: 40px;
        left: 5%;
        padding: 5px 19px;
    }

    .playlistcontainer form p:nth-child(2) {
        top: 130px;
        padding: 5px 15px;
        right: 5%;
    }

    .playlistcontainer form p:nth-child(3) {
        top: 220px;
        padding: 5px 25px;
        left: 5%;
    }

}